<mat-card class="sku-card" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center">

  <div class="sku-unit" [matBadge]="skuWithCheckoutUnit.numberOfUnits" matBadgeColor="accent" matBadgeOverlap="false">
    {{skuWithCheckoutUnit.skuName}}</div>

  <div>
    <mat-divider></mat-divider>
    <div class="sku-price"> {{skuWithCheckoutUnit.totalPrice | currency:'EUR':'':'1.0'}} <mat-icon inline>
        euro_symbol
      </mat-icon>
    </div>
    <mat-divider></mat-divider>
  </div>

  <mat-card-actions>
    <button mat-button aria-label="Add new unit" (click)="addUnit()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
