.sku-card {
  width: 10em;
}

.mat-card > :first-child,
.mat-card-content > :first-child {
  margin-top: 0.5em;
}

.sku-unit {
  font-size: 3em;
}

div .sku-price {
  font-size: larger;
  margin: 0.5em;
}
